@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Story+Script&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body {
    min-height: 100vh;
    background-color: #eee9e9;
}

.alert-dev {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #fff3cd;
  color: #856404;
  padding: 12px 16px;
  border-radius: 6px;
  box-shadow: 0 6px 15px rgba(0,0,0,.15);
  z-index: 10000;
  animation: slideIn .4s ease;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.error-search {
  position: fixed;
  top: 60px;
  right: 130px;
  background: #fff3cd;
  color: #856404;
  padding: 12px 16px;
  border-radius: 6px;
  box-shadow: 0 6px 15px rgba(0,0,0,.15);
  z-index: 11000;
  display: none;
  animation: slideIn .4s ease;
}
.error-search.active {
  display: inline-block;
}
.error-search p {
  font-size: 11px;
  color: #222222;
  margin-top: 8px;
  text-align: center;
  font-weight: 400;
}


/* navbarStyle */
.hamburger-icon {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
#menu {
  display: none;
}
#btn-close {
  display: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 10%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    box-shadow: 0 3px 9px rgba(0,0,0,0.15);
    transition: 0.2s ease;
}
/* navbar mengecil saat di scroll */
.navbar.shrink {
  padding: 0.1rem 10%;
  background: rgba(255, 255, 255, 0.9); 
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(5px);
}
.nav-logo {
    font-size: 35px;
    font-weight: 700;
    color: #1E90FF;
}
/* logo mengecil saat di scroll */
.nav-logo.shrink {
  font-size: 30px;
}
.navbar-nav a {
    position: relative;
    display: inline-block;
    font-size: 15px;
    margin: 0 1rem;
    font-weight: 600;
    color: #111111;
}
.navbar-nav a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0%;
    height: 2.5px;
    background: #2ba8ff;
    transform: translateX(-50%);
    transition: 0.3s ease;
}
.navbar-nav a:hover::after {
    width: 100%;
}
.search-box i{
  color: #111111;
  font-size: 15px;
  cursor: pointer;
}
.search-box i:hover {
  color: #353535;
}
/* navbarstyleEndd */


/* heroStyle */
.hero {
   min-height: 100vh;
   position: relative;
   padding: 7rem 4rem 4rem;
   /* border: 2px solid; */
}
/*  */



/* Homestyle */
.home-container {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-columns: repeat(auto-fit, minimax(200px, 1fr));
  gap: 40px;
  align-items: start;
  padding: 7rem 4rem 4rem;
}
.section-title {
  margin: 20px 0;
}
.section-title2 {
  margin-bottom: 30px;
  display: none;
}
.section-title span{
  display: inline-block;
  background: #222222;
  color: #fff;
  padding: 6px 14px 5px;
  font-size: 13px;
  font-weight: 450;
  /* margin-bottom: 0px; jarak ke garis */
}
.section-title2 span {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Inter', system-ui, sans-serif !important;
}
.section-title::after{
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #111;
}

/* recentpost */
.post-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  /* border: 1px solid; */
}
.post-card {
  width: 100%;
}

.post-link {
  display: block;
  color: #111;
  transition: 0.2s ease;
}
.post-link:hover {
  color: #2ba8ff;
}

.post-image {
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 5px;
}

.post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-title {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
  word-break: break-word;
}

.post-date {
  font-size: 11px;
  color: #777;
}

/* sidebarKananHome */
.follow-box,
.popular-box {
  margin-bottom: 40px;
}
/* sidebarFollow */
.follow-grid {
  display: flex;
  gap: 15px;
}
.follow-item {
  text-align: center;
  border: 1px solid #eee;
  padding: 11px 30px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  margin: auto;
}
.follow-item:hover {
  transform: translateY(-4px);
}
.follow-item i {
  color: #000000;
  font-size: 30px;
  margin-bottom: 10px;
}
.follow-item i::before {
    text-shadow:
    -2px 0 #25F4EE,
     2px 0 #FE2C55;
}
.number {
  color: #111111;
  font-size: 16px;
  font-weight: 600;
}
.label {
  color: #111111;
  font-size: 15px;
}

/* sidebarpopular */
.popular-item {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  color: #111;
  transition: 0.2s ease;
}
.popular-item:hover {
  color: #2ba8ff;
}

.popular-item img {
  width: 90px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
  flex-shrink: 0;
}

.popular-info h4 {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 2px;
  font-weight: 550;
}

.pop-date {
  font-size: 11px;
  color: #777;
}
/* homeStyleEnd



/* footerStyle */
.footer {
    background: #1d1d1d;
    padding: 60px 8%;
    color: #fff;
}
.footer-row {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.footer-logo {
    flex: 1;
}
.footer-section h2 {
  font-size: 19px;
  margin-bottom: 22px;
  font-weight: 600;
}
.footer-section p {
  color: #ccc;
  line-height: 1.6;
  max-width: 550px;
  font-size: 14.5px;
}
.footer-section p a {
    color: #3db4ff;
}
.social-icons {
    display: flex;
    gap: 17px;
}
.social-icons a {
  width: 35px;
  height: 35px;
  border: 1px solid #2f2f2f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  color: #fff;
  transition: 0.3s ease;
}
.social-icons a:hover {
  color: #3db4ff;
}
/* footerStyleEnd */

/* copyrightStyle */
.copyright {
  background: #000;
  color: #fff;
  padding: 10px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.copyright p {
  font-weight: 300;
}
.copyright span {
  color: #3db4ff;
}
.copyright-links {
  display: flex;
}
.copyright-links a {
  margin-right: 16px;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
}
.copyright-links a:hover {
  color: #3db4ff;
}
/* copyrightStyleEnd */


/* aboutStyle */
#about, #syarat-ketentuan, #home{
  background-color: #fff;
}
.breadcrumb {
  font-size: 13px;
  color: #C3C3C3;
  padding: 1px 0 2px;
}
.breadcrumb a {
  color: #C3C3C3;
}
.breadcrumb a:hover {
  color: #7d7c7c;
}
.title-about {
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 19px;
}
.about-layout {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 40px;
}
/* SidebaKanan */
.about-content p {
  font-size: 15.5px;
  margin-bottom: 25px;
  line-height: 1.7;
  color: #222222;
}
/* SidebarKiri */
.about-sidebar {
  padding-left: 10px;
}
.aboutsidebar-title {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid #000;
  padding: 0 10px 8px;
  margin-bottom: 20px;
  position: relative;
}
/* aboutStyleEnd */



/* hubungi kami */
.send-email,
.send-linkContent {
  color: #3db4ff;
}
.send-email:hover,
.send-linkContent:hover {
  text-decoration: underline;
}



/* postingStyle */
.posting-date {
  margin-bottom: 19px;
}
.posting-layout {
  display: grid;
  grid-template-columns: 2fr 1.1fr;
  gap: 45px;
}
.posting-layout .title-about {
  margin-bottom: 5px;
}
.posting-image {
  max-width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 25px;
}

.posting-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btndownload-code {
  text-align: center;
}

.btndownload-code button {
  display: inline-block;
  background-color: #55B3E8;
  color: #ffffff;
  padding: 12px 28px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btndownload-code button:hover {
  background-color: #3fa2db;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}




/* media queris */
@media (max-width: 850px) {
  .popular-info h4 {
    font-size: 13px;
  }
}






/* 768 */
@media (max-width: 768px) {

  body.no-scroll {
    overflow: hidden;
  }
  .navbar {
    background-color: #1d1d1d;
    padding: 0.4rem 7%;
  }
  #menu {
    display: inline-block;
  }
  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 10px 10px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
  }
  #btn-close {
    display: inline-block;
  }
  .navbar-nav {
    position: absolute;
    top: 100%;
    left: -100%;
    background: rgba(18, 40, 56, 0.95);
    backdrop-filter: blur(6px);
    width: 100%;
    height: 100vh;
  }
  .navbar-nav.active {
    left: 0;
    opacity: 0;
    /* transform: translateX(-40px); */
    transform: scale(1.2);
    animation: slideInLeft 0.4s ease-out forwards;
  }
  @keyframes slideInLeft {
    to {
    opacity: 1;
    transform: translateX(0);
  }
  }


  .navbar-nav a {
    color: #fff;
    align-items: center;
    display: flex;
    margin: 20px;
  }
  .navbar-nav a:hover::after {
    display: none;
  }
  .navbar-nav a:hover {
    color: #ccc;
  }
  .search-box i {
    color: #fff;
    font-size: 17px;
  }
  .search-box i:hover {
    color: #b5b4b4;
  }



  /* homequerise*/
  .home-container {
    grid-template-columns: 1fr;
  }

  .post-grid {
    grid-template-columns: 1fr;
  }

  
  .hero,
  .home-container {
    padding: 6rem 1.1rem 2rem;
  }


  .footer-row {
    flex-direction: column;
    text-align: center;
  }


  .social-icons {
    justify-content: center;
  }



  .copyright {
    flex-direction: column-reverse;
    text-align: center;
    gap: 10px;
  }


  .about-layout,
  .posting-layout {
    grid-template-columns: 1fr;
  }


  .error-search {
    top: 60px;
    right: 0;
  }
}



/* Mobile */
/* 576 */
@media (max-width: 450px) {
  .home-container {
    padding-bottom: 15rem;
  }
  .post-card {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .post-image img{
  width: 155px;
  object-fit: cover;
  border-radius: 4px;
  flex-shrink: 0;
  }
  .post-title {
    font-size: 15px;
    line-height: 1.3;
    font-weight: 600;
  }
  .sidebar {
    display: none;
  }
  .section-title {
    display: none;
  }
  .section-title2 {
    display: flex;
    justify-content: center;
  }


  .about-sidebar {
    display: none;
  }

}
